.main {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-areas: "picture info";
    padding: 20px;


}

.picture img {
    grid-area: picture;

    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.info {
    grid-area: info;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 75% 25%;
    grid-template-areas: "name location" "status status";

    border: 1px solid #834089;
    border-radius: 5%;
    width: 400px;
    height: 100px;
    padding: 10px;
    margin-left: 30px;
}

.fullName {
    grid-area: name;


}

.status {
    grid-area: status;

    padding-bottom: 10px;
}

.location {
    grid-area: location;

    text-align: right;
}

.main button {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
    border: none;
}

.main button:hover {
    background: rgb(53, 167, 110);
}

.pageNumber:active{
    background-color: black;
}

.pages{
    margin: 10px
}

.pages span {
    margin:2px
}

.pages button{
    margin:1px
}

