/* this file manage space in the page */


.app-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;

    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 100px 1fr;
    grid-template-columns: 22% auto;
}

.app-wrapper-content {
    grid-area: c;
}
